@import url("https://fonts.googleapis.com/css2?family=Ubuntu Mono:wght@400;500;700;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Ubuntu Mono", sans-serif;
}

button {
  font-family: "Ubuntu Mono", sans-serif;
  cursor: pointer;
  border: none;
}

input {
  font-family: "Ubuntu Mono", sans-serif;
  border: none;
  outline: none;
}

body {
  margin: 0;
  background: #2c2e3c;
  color: white;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;

  .game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: #8892b0 0px 5px 15px;
    padding: 20px;
    margin-top: 20px;

    .inputs {
      width: 100%;

      .input-group {
        display: flex;
        justify-content: center;
        align-items: start;
        width: 100%;
        margin-bottom: 15px;
        flex-direction: column;

        input {
          border-radius: 10px;
          width: 100%;
          padding: 10px;
          height: 40px;
          padding-right: 20px;
          text-transform: uppercase;

          &:focus {
            border: 5px solid #3d5ba4;
            border-radius: 10px;
          }
        }
      }
    }

    .buttons {
      width: 100%;
      margin-top: 15px;

      .challengeBtn {
        background: rgb(174, 3, 3);
      }

      .resetBtn {
        background: #3863d9;
      }

      button {
        color: white;
        border-radius: 10px;
        padding: 10px;
        width: 100%;
        transition: 0.15s ease-in-out;

        &:hover {
          opacity: 0.75;
        }
      }
    }

    .word-history {
      margin-top: 20px;
      display: flex;
      justify-content: start;
      align-items: center;
      width: 100%;
      font-weight: bold;
    }
  }

  .rules {
    text-align: center;
    padding: 30px;
  }
}

@media (max-width: 800px) {
  .game {
    width: 500px;

    .inputs {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }

    .buttons {
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;

      button {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 500px) {
  .game {
    width: 350px;
  }
}

@media (max-width: 375px) {
  .game {
    width: 250px;
  }
}

@media (max-width: 275px) {
  .game {
    width: 200px;
  }
}

@media (min-width: 800px) {
  .game {
    width: 800px;

    .inputs {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .input-group {
      &:last-child {
        margin-left: 20px;
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        &:last-child {
          margin-left: 20px;
        }
      }
    }
  }
}
